body{
    position: relative;
    text-align: center;
    background-color: bisque;
}

#list{
    background-color: beige;
}


#task{
    position: relative;
    margin-top: 10px;
    border: 3px solid black;
    padding: 15px;
    display: inline-block;
}
h2{
    font-size: medium;
}

h1{
    border: 5px solid black;
    padding: 10px;
}
#add{
        background-color: #3e8e41;   /* Primäre Hintergrundfarbe */
        color: black;                /* Textfarbe */
        padding: 10px 18px;          /* Innenabstand */
        font-size: 12px;             /* Schriftgröße */           /* Fettschrift */
        border: none;                /* Kein Rand */
        border-radius: 6px;          /* Runde Ecken */
    }

#delete{
    background-color: red;
    color: black;
}

h3{
    font-size: medium;
}
